* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.count,
.diffButton {
  font-family: "Play", sans-serif;
}

.page {
  color: #20172C;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.side {
  display: flex;
  width: 50%;
  min-height: 100vh;
  padding: 1vw;
}

.side_contents {
  width: 100%;
  margin: auto;
  padding: 1vw;
  border-radius: 1vw;
  background-color: white;
}

.side-left {
  background-color: #E6B89C;
}

.side-right {
  background-color: #9CAFB7;
}

.mainContainer {
  padding-bottom: 2vw;
}

.subContainer {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.diffButton-plus {
  background-color: #4281A4;
}

.diffButton-minus {
  background-color: #FE938C;
}

.main_buttons {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.main_buttonCol {
  width: calc(100% / 3);
  padding: 0 1vw;
}

.diffButton {
  width: 100%;
  border-style: none;
  font-size: 5vw;
  color: white;
}

.main_button {
  padding: 10px 0;
}

.main_button:first-child {
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
}

.main_button:last-child {
  border-bottom-right-radius: 1.5vw;
  border-bottom-left-radius: 1.5vw;
}

.counter {
  text-align: center;
  position: relative;
}

.main_count {
  font-size: 20vw;
  line-height: 1.1;
}

.resetButton {
  font-size: 4vw;
  padding: 1vw 0.5vw;
  line-height: 1;
  color: #EAD2AC;
}

.main_resetButton {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.side-right .main_resetButton {
  left: auto;
  right: 0;
}

.sub {
  width: 50%;
  padding: 0 1vw;
}

.sub_count {
  font-size: 5vw;
}

.sub_buttons {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.sub_buttonArea {
  display: table-cell;
  vertical-align: middle;
}

.sub_button {
  padding: 6px 0;
}

.sub_button-left {
  border-top-left-radius: 1.5vw;
  border-bottom-left-radius: 1.5vw;
}

.sub_button-right {
  border-top-right-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
}

@media (max-width: 500px) {
  .subContainer {
    flex-direction: column;
  }

  .sub {
    width: 80%;
    margin: 0 auto;
    padding: 0 1vw;
  }
}

@media (max-height: 420px) {
  .main_count {
    font-size: 24vh;
  }

  .sub_count {
    font-size: 7vh;
  }

  .diffButton {
    font-size: 7vh;
  }
}
