.main.counter
  .main_count.count 10
  .main_buttons.flex-container
    .main_buttonCol
      button.main_button.diffButton.diffButton-plus(data-diff="1") +1
      button.main_button.diffButton.diffButton-minus(data-diff="-1") -1
    .main_buttonCol
      button.main_button.diffButton.diffButton-plus(data-diff="2") +2
      button.main_button.diffButton.diffButton-minus(data-diff="-2") -2
    .main_buttonCol
      button.main_button.diffButton.diffButton-plus(data-diff="3") +3
      button.main_button.diffButton.diffButton-minus(data-diff="-3") -3
  a.main_resetButton.resetButton
    i.fa.fa-refresh(aria-hidden="true")
