.main.counter
  .count 10
  .flex-container
    .col-xs-4.btn-group-vertical
      button.diff-btn.btn.btn-plus(data-diff="1") +1
      button.diff-btn.btn.btn-minus(data-diff="-1") -1
    .col-xs-4.btn-group-vertical
      button.diff-btn.btn.btn-plus(data-diff="2") +2
      button.diff-btn.btn.btn-minus(data-diff="-2") -2
    .col-xs-4.btn-group-vertical
      button.diff-btn.btn.btn-plus(data-diff="3") +3
      button.diff-btn.btn.btn-minus(data-diff="-3") -3
  a.reset-btn
    i.fa.fa-refresh(aria-hidden="true")
