.sub.counter
  .sub_buttons
    .sub_buttonArea
      button.sub_button.sub_button-left.diffButton.diffButton-minus(data-diff="-1") -
    .sub_buttonArea
      span.sub_count.count 0
    .sub_buttonArea
      button.sub_button.sub_button-right.diffButton.diffButton-plus(data-diff="1") +
  a.sub_resetButton.resetButton
    i.fa.fa-refresh(aria-hidden="true")
