.sub
  .flex-container
    .counter
      .button-group-justify
        .button-group
          button.diff-btn.btn.button.btn-minus(data-diff="-1") -
        .button-group
          span.count 0
        .button-group
          button.diff-btn.btn.button.btn-plus(data-diff="1") +
      a.reset-btn
        i.fa.fa-refresh(aria-hidden="true")
    .counter
      .button-group-justify
        .button-group
          button.diff-btn.btn.button.btn-minus(data-diff="-1") -
        .button-group
          span.count 0
        .button-group
          button.diff-btn.btn.button.btn-plus(data-diff="1") +
      a.reset-btn
        i.fa.fa-refresh(aria-hidden="true")
